* {
    box-sizing: border-box;
}

.calc {
    width: 300px;
    background-color: #f4f4f4;
    border: 1px solid #666666;
}

.calcDisplay {
    min-height: 50px;
    text-align: right;
    font-size: 40px;
    padding: 10px;
    background-color: #ffffff;
}

.calcRow {
    display: flex;
    flex-direction: row;

}

.calcField {
    width: 25%;
    text-align: center;
    padding: 10px;

}

.calcField button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
}

.operation {
    background-color: aquamarine;
}